.GameBoard {
  display: grid;
  border: 5px solid var(--color-primary);
  margin: 3rem auto;
  padding: 1px;
  width: 30%;
  max-width: 1980px;
}

@media (max-width: 768px) {
  .GameBoard {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .GameBoard {
    width: 80%;
  }
}
